@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.body-home, .body-login {
    background: url(../images/Background.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.black-fill{
    background: rgba(0, 0, 0, 0.4);
    min-height: 100vh;
}
#homeNav {
    background: rgba(12, 230, 230, 0.8) !important; /* 
    border: 2px solid #fff; /* white border */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}
.welcome-text {
    min-height: 80vh;
    max-width: 720px;
    margin: 0 auto;
}
.welcome-text img {
    width: 100px;
}
.welcome-text h4{
    color: #eee;
    font-size: 51px;
    text-align: center;
    font-family: "Lobster", sans-serif;
}
.welcome-text p {
    padding: 15px 25px;
    background: rgba(12, 230, 230, 0.8); 
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
    max-width: 800px;
    margin: 20px auto;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.6;
}
#about{
    min-height: 100vh;
}
#about .card-1{
    max-width: 600px;
    width: 90%;
    background: rgba(12, 230, 230, 0.8); 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}
#about .card-1 h5{
    font-family: "Lobster", sans-serif;
    color: #fff;
    text-align: center;
    font-size: 25px;
}
#contact{
    min-height: 100vh;
}
#contact form{
    max-width: 600px;
    width: 90%;
    background: rgba(12, 230, 230, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}
#contact form h3{
    font-family: "Lobster", sans-serif;
    color: #fff;
    text-align: center;
    font-size: 25px;

}
textarea{
    resize: none;
}
.login{
    max-width: 600px;
    width: 90%;
    background: rgba(12, 230, 230, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}
.login h3{
    font-family: "Lobster", sans-serif;
    color: #fff;
    text-align: center;
    font-size: 25px;
}
.w-450 {
    width: 450px;
}
.n-table {
    max-width: 800px;
}
.form-w{
    max-width: 600px;
    width: 100%;
}